<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">

  <resultMap type="org.zerock.domain.MemberVO" id="memberMap">
    <id property="userid" column="userid"/>
    <result property="userid" column="userid"/>
    <result property="userpw" column="userpw"/>
    <result property="userName" column="username"/>
    <result property="regDate" column="regdate"/>
    <result property="updateDate" column="updatedate"/>
    <result property="user_Email" column="user_Email"/>
    <result property="postcode" column="postcode"/>
    <result property="roadAddress" column="roadAddress"/>
    <result property="jibunAddress" column="jibunAddress"/>
    <result property="detailAddress" column="detailAddress"/>
    <result property="extraAddress" column="extraAddress"/>
    <collection property="authList" resultMap="authMap">
    </collection>
  </resultMap>
  
  <resultMap type="org.zerock.domain.AuthVO" id="authMap">
    <result property="userid" column="userid"/>
    <result property="auth" column="auth"/>
  </resultMap>
  
  <select id="read" resultMap="memberMap">
  SELECT *
  FROM tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid
  WHERE mem.userid = #{userid, jdbcType=VARCHAR}
  </select>
  
  <!-- <select id="read" resultType="org.zerock.domain.MemberVO">
	select * from tbl_member where userid = #{userid}
</select> -->
  
  <insert id="insert">
	
	insert into TBL_MEMBER 
	(	USERID
	  , USERPW
	  , USERNAME
	  , REGDATE
	  , UPDATEDATE
	  , USER_EMAIL
	  , POSTCODE
	  , ROADADDRESS
	  , JIBUNADDRESS
	  , DETAILADDRESS
	  , EXTRAADDRESS)
	values 
	(  #{userid}
	 , #{userpw}
	 , #{userName}
	 , sysdate
	 , sysdate
	 , #{user_Email}
	 , #{postcode}
	 , #{roadAddress}
	 , #{jibunAddress}
	 , #{detailAddress}
	 , #{extraAddress}
	 )
	
	
</insert>

<update id="update">

	UPDATE TBL_MEMBER 
	
	SET USERID = #{userid},
		USERPW = #{userpw},
		USERNAME = #{userName},
		UPDATEDATE = sysdate,
		USER_EMAIL = #{user_Email},
		POSTCODE = #{postcode},
		ROADADDRESS = #{roadAddress},
		JIBUNADDRESS = #{jibunAddress},
		DETAILADDRESS = #{detailAddress},
		EXTRAADDRESS = #{extraAddress}
		
	WHERE USERID = #{userid}

</update>
  
</mapper>